<div style="background-color:#e0e0e0; padding:4px; margin-bottom:16px;">

  <!--
  <button (click)="startAnimation()">Start animation</button>
  <button (click)="stopAnimation()">Stop animation</button>
  -->

  <div *ngIf="selectedHrcId" style="background-color:white; padding:4px;">
    <h2>HRC ID: {{selectedHrcId}}</h2>
    <h3>Name: {{friendlyName}}</h3>
    <!--
    <h4>Used in {{metadata.numFieldModelLoaders}} field model loaders</h4>
    -->

    <div style="display:flex; flex-flow:row wrap; align-items:flex-start; align-content:flex-start; font-size:12pt;">

      <div class="model-panel">
        <h4>Model</h4>
        <div class="scene-container" id="scene-container">
        </div>
      </div>

      <div class="animations-panel">
        <h4>Animations</h4>
        <div class="animation-category">
          <h5>Body Animations</h5>
          <div *ngFor="let animId of bodyAnimationIds" class="animation-box" (click)="onSelectAnimation(animId)">
            {{animId}} {{bodyAnimationIdToFriendlyNameMap[animId]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="grey-panel" *ngIf="scriptsEnemy && scriptsEnemy.length> 0">
  <div class="white-panel">
    <h4>Enemy Action Scripts</h4>
    <div style="display:flex; flex-flow:row wrap; align-items:flex-start; align-content:flex-start; font-size:12pt;">
      <div *ngFor="let s of scriptsEnemy; let i = index">
        <div *ngIf="s.script.length > 0" class="grey-panel" style="width-600px; ">
          <div style="font-size: 14pt; color: #404040;">
            #{{i}}
            <span style="font-size: 12pt; color: #808080;">{{ s.name }}</span>
            <span style="margin-left: 20px; cursor: pointer;" (click)="startScriptPreviewAndScroll(s.play)" ><i class="fa fa-play-circle"></i></span>
          </div>
          <div class="white-panel kujata-font-mono" style="font-size: 8pt;">
            <div *ngFor="let op of s.script" class="">
              <div style="display: inline-block; width: 150px;">{{op.raw}}</div>
              <div style="display: inline-block">{{op.js}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey-panel" *ngIf="scriptsPlayer && scriptsPlayer.length> 0">
  <div class="white-panel">
    <h4>Player Action Scripts</h4>
    <div style="display:flex; flex-flow:row wrap; align-items:flex-start; align-content:flex-start; font-size:12pt;">
      <div *ngFor="let s of scriptsPlayer; let i = index">
        <div *ngIf="s.script.length > 0" class="grey-panel" style="width-600px;">
          <div style="font-size: 14pt; color: #404040;">
            #{{i}}
            <span style="font-size: 12pt; color: #808080;">{{s.name}}</span>
            <span style="margin-left: 20px; cursor: pointer;" (click)="startScriptPreviewAndScroll(s.play)" ><i class="fa fa-play-circle"></i></span>
          </div>
          <div class="white-panel kujata-font-mono" style="font-size: 8pt;">
            <div *ngFor="let op of s.script" class="">
              <div style="display: inline-block; width: 150px;">{{op.raw}}</div>
              <div style="display: inline-block">{{op.js}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>